<div class="row">
    <div class="col-12">
        <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Nuevo Alumno en grupo</h3>
            </div>
            <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
              <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label>*Matricula:</label>
                            <input type="text" class="form-control" placeholder="Nombre" formControlName="matricula">
                            <div class="form-text text-danger text-left" *ngIf="form.get('matricula')?.touched && form.get('matricula')?.invalid">
                                <span *ngIf="form.get('matricula')?.errors?.['required']">Matricula Requerida*</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>*Materia:</label>
                            <select class="form-control" formControlName="idMateria">
                                <option *ngFor="let subject of subjectsList" [value]="subject.Id">{{subject.ClaveMateria}}</option>
                            </select>
                            <div class="form-text text-danger text-left" *ngIf="form.get('idMateria')?.touched && form.get('idMateria')?.invalid">
                                <span *ngIf="form.get('idMateria')?.errors?.['required']">Materia Requerida*</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>*Periodo:</label>
                            <input type="text" class="form-control" placeholder="Periodo" formControlName="periodo">
                            <div class="form-text text-danger text-left" *ngIf="form.get('periodo')?.touched && form.get('periodo')?.invalid">
                                <span *ngIf="form.get('periodo')?.errors?.['required']">Periodo Requerido*</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label>*Parcial:</label>
                            <input type="text" class="form-control" placeholder="Parcial" formControlName="parcial">
                            <div class="form-text text-danger text-left" *ngIf="form.get('parcial')?.touched && form.get('parcial')?.invalid">
                                <span *ngIf="form.get('parcial')?.errors?.['required']">Parcial Requerido*</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>*Califcación:</label>
                            <input type="text" class="form-control" placeholder="Periodo" formControlName="calificacion">
                            <div class="form-text text-danger text-left" *ngIf="form.get('calificacion')?.touched && form.get('calificacion')?.invalid">
                                <span *ngIf="form.get('calificacion')?.errors?.['required']">Calificación Requerida*</span>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Guardar</button>
              </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
      <app-custom-table
          keyRow="Id"
          [headers]="['#','Matricula', 'Alumno','Materia', 'Periodo','Parcial', 'Calificación',  'Estatus', 'Usuario Registra', 'Fecha Registro']"
          [keys]="['Id','Matricula', 'NombreAlumno','Materia', 'Periodo','Parcial', 'Calificacion', 'Estatus', 'UsuarioRegistra', 'FechaRegistro']"
          [data]="gradesList"
          [hasSearch]="true"
          [hasEdit]="true"
          [hasDelete]="true"
          (editEmit)="editGrade($event)"
          (deleteEmit)="deleteGrade($event)"
      >
      </app-custom-table>
    </div>
  </div>